     <!--Logo-->
           <section id="logo">
               <img src="images/{{logo}}" alt="logo image" id="logo" width="184px" height="140px">
           </section>
    
       
        <div class="poster_row">
            <div class="columnone">
                <img src="images/{{poster}}" alt="poster_img image" id="poster" width="1025px" height="844px">
            </div>
            
            <div class="columntwo">
               <h1>{{title}}
                </h1>
                <h2>The Beats Skyline
                    <br>Collection Shadow Grey</h2>
            </div>
          </div>

          <div class="mid_row">
                <div class="columnthree">
                        <img src="images/wire_img.png" alt="mid image" id="midImg" width="934px" height="565px">
                    </div>
                    <div class="columnfour">
                        <h3>Product Information</h3>
                        <p>{{desOne}}</p>
                                <p>
                                  {{desTwo}}
                                </p>

                    </div>
          </div>
          <hr class="hrone">

          <div class="bottom_row">
                <div class="columnfive">
                        <img src="images/bottom_img.png" alt="bottom image" id="bottomImg" width="818px" height="474px">
                    </div>
                    <div class="columnSix">
                        <p class="price">$399.95<br><br>
                            <br>3.5 out of 5 stars
                            <br>Colour - Shadow Grey
                            <br>
                            <br>Crystal BlueCrystal Blue
                            <br>Desert SandDesert Sand
                            <br>Midnight BlackMidnight Black
                                </p>
                                <button class="button">Add to bag</button>
                    </div>
          </div>
          <hr class="hrtwo">

          <div class="footer">
                <p class="copypara">copyright 2019 Allright reserved by beats studio 3.</p>
              </div>