     <!--Logo-->
           <section id="logo">
               <img src="images/{{logo}}" alt="logo image" id="logo" width="184px" height="140px">
           </section>
    
       
        <div class="poster_row">
            <div class="columnone">
                <img src="images/{{poster}}" alt="poster_img image" id="poster" width="1025px" height="844px">
            </div>
            
            <div class="columntwo">
               <h1>{{title}}
                </h1>
                <h2>{{titleTwo}}</h2>
            </div>
          </div>

          <div class="mid_row">
                <div class="columnthree">
                        <img src="images/{{midImg}}" alt="mid image" id="midImg" width="934px" height="565px">
                    </div>
                    <div class="columnfour">
                        <h3>{{productInfo}}</h3>
                        <p>{{desOne}}</p>
                                <p>
                                  {{desTwo}}
                                </p>

                    </div>
          </div>
          <hr class="hrone">

          <div class="bottom_row">
                <div class="columnfive">
                        <img src="images/{{bottomImg}}" alt="bottom image" id="bottomImg" width="818px" height="474px">
                    </div>
                    <div class="columnSix">
                        <p class="price">{{price}}</p>
                            <p class="priceInfo">
                                {{priceInfo}}
                            </p>
                                <button class="button">{{button}}</button>
                    </div>
          </div>
          <hr class="hrtwo">

          <div class="footer">
                <p class="copypara">{{copyright}}</p>
              </div>